.adding{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msg{
  position: relative;
  width: 31%;
  margin: 30px 20px;
  background: #fff;
  padding: 15px;
  /* height: 18vh; */
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138 137 137)
}
label > span{
  color: black;
  font-weight: bold;
  padding: 7px;
  opacity: 0.5;
}
.add-top{
  width: 100%;
}
.App{
    /* border: 2px solid purple; */
    width: 80%;
    margin: auto;
    padding-top: 8vh;
    /* height: 92vh; */
    /* color: white; */
}
.header{
  margin: auto;
  border: none;
  width: 25%;
  text-align: center;
  padding: 13px;
  background-image: linear-gradient(to right , #bda4a9 , #aeb2c8);
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
    position: relative;
    width: 70%;
    margin: 30px 20px;
    background: #fff;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

input , textarea{
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.title{
  font-size: 20px;
}
.btn{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25%;
    align-items: center;
    margin-top: 14px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #002ead;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.all-cards{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px;
}

body{
  background-image: linear-gradient(to right, #e4a8b0, #c0e9ff)
}