.adding{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto Mono', monospace
}
.msg{
  position: relative;
  width: 40%;
  margin: 30px 20px;
  background: #fff;
  padding: 15px;
  /* height: 18vh; */
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138 137 137);
  font-family: 'Roboto Mono', monospace
}
div > span{
  color: black;
  font-weight: bold;
  padding: 7px;
  opacity: 0.5;
}
.add-top{
  width: 100%;
}
.App{
    /* border: 2px solid purple; */
    width: 100%;
    margin: auto;
    /* padding-top: 8vh; */
    /* height: 92vh; */
    /* color: white; */
}
.header{
  /* margin: auto; */
  border: none;
  /* width: 98%; */
  text-align: center;
  padding: 13px;
  color: white;
  background-color: #000000ba;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
    position: relative;
    width: 70%;
    margin: 30px 20px;
    background: #fff;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

input , textarea{
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  letter-spacing: 1.5px;
  resize: none;
  /* border-bottom: 2px solid grey; */
}
.title{
  font-size: 20px;
}
.btn{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 25%;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #002ead; */
  cursor: pointer;
  transition: border-color 0.25s;
  color: #002ead;
  text-align: center;
}
button:hover{
  /* background-color: green; */
  /* border: none; */
}

button:hover {
  /* border-color: #646cff; */
  background-color: #dbe0ff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.all-cards{
  display: flex;
  width: 99%;
  flex-wrap: wrap;
  margin: auto;
}

body{
  background-image: linear-gradient(to right, #e4a8b0, #c0e9ff);
  background-color: #f2f2f2;
  background-image: url("https://transparenttextures.com/patterns/gplay.png");
}
.click-text:hover{
  background-color: #f4d9d9;
}

/* ----------- RESPONSIVE --------- */

@media only screen and (max-width: 450px){
  .head{
    display: unset;
  }
  .h1{
    width: unset;
  }
  .msg{
    width: unset;
  }
  input[type="date"]{
    width: unset;
  }
  .btn{
    display: unset;
  }
  .add , .click-text{
    margin: 5px;
  }
}

@media only screen and (max-width: 770px) and (min-width:451px){
  .h1{
    width: 50%;
  }
  .head{
    display: unset;
  }
  .container{
    font-size: 15px;
    width: unset;
  }
  .msg{
    font-size: 18px;
    width: unset;
  }
  input, textarea{
    font-size: 25px;
    letter-spacing: 2px;
  }
  .dates input{
    width: 35%;
  }
  .dates > span{
    font-size: 25px;
  }
  .btn{
    width: 50%;
  }
  .btn > button{
    font-size: 30px;
  }
  .title{
    font-size: 20px;
  }
  .card > .title{
    height: 4vh;
  }
  .card > .content{
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  .card > .date{
    font-size: 15px;
  }
  .deletebtn{
    margin-left: 34vh;
  }
  .dates{
    height: 15vh;
  }
  .card{
    width: 47vh;
  }
}

@media only screen and (max-width: 1030px) and (min-width:771px){
  .h1{
    width: 32%;
  }
  .container > .title{
    font-size: 25px;
    letter-spacing: 2px;
  }
  .container > .content{
    font-size: 23px;
    letter-spacing: 2px;
  }
  .dates{
    height: 12vh;
  }
  .dates > input{
    width: 35%;
  }
  .btn{
    width: 50%;
  }
  .deletebtn{
    margin-left: 31vh;
  }
  .card{
    width: 41vh;
  }
  .card > .title{
    height: 4vh;
  }
}